@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5

   Filename: styles.css
   
   This file contains the layout styles used in the Tutorial 5
   home page.

*/

/* ===========
   Base Styles
   ===========
*/

html {
	background-color: white;
}

body {
	color: white;
	background-color: rgb(255, 102, 0);
	margin-left: 15%;
	margin-right: 15%;
	min-height: 950px;
	text-align: center;
	clear: both;
}

nav ul li {
	color: white;
	float: left;
	width: 16.66%;
}